USE [AsistenciasPro]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 14/12/2025 17:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[Id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [varchar](max) NULL,
	[SueldoPorHora] [varchar](max) NULL,
 CONSTRAINT [PK_Cargo] PRIMARY KEY CLUSTERED 
(
	[Id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 14/12/2025 17:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Id_personal] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](max) NULL,
	[Identificacion] [varchar](max) NULL,
	[Pais] [varchar](max) NULL,
	[Id_cargo] [int] NULL,
	[SueldoPorHora] [numeric](18, 2) NULL,
	[Estado] [varchar](max) NULL,
	[Codigo] [varchar](max) NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[Id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Personal]  WITH CHECK ADD  CONSTRAINT [FK_Personal_Cargo] FOREIGN KEY([Id_cargo])
REFERENCES [dbo].[Cargo] ([Id_cargo])
GO
ALTER TABLE [dbo].[Personal] CHECK CONSTRAINT [FK_Personal_Cargo]
GO
/****** Object:  StoredProcedure [dbo].[editarPersonal]    Script Date: 14/12/2025 17:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editarPersonal]
@Id_personal int,
@Nombres as varchar(max),
@Identificacion varchar(max),
@Pais varchar(max),
@Id_cargo int,
@SueldoPorHora numeric(18,2)
as 
if Exists (Select Identificacion from Personal where Identificacion=@Identificacion and Id_personal <>@Id_personal)
raiserror('Ya existe un registro con esta identificacion', 16,1)
else 
Update Personal set 
Nombres = @Nombres,
Identificacion = @Identificacion,
Pais = @Pais,
Id_cargo = @Id_cargo,
SueldoPorHora = @SueldoPorHora
where Id_personal = @Id_personal
GO
/****** Object:  StoredProcedure [dbo].[eliminarPersonal]    Script Date: 14/12/2025 17:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminarPersonal] 
@Id_personal int
as
Update Personal set Estado = 'ELIMINADO'
where Id_personal = @Id_personal
GO
/****** Object:  StoredProcedure [dbo].[InsertarPersonal]    Script Date: 14/12/2025 17:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertarPersonal]
@Nombres varchar(max),
@Identificacion varchar(max),
@Pais varchar(max),
@Id_cargo int,
@SueldoPorHora numeric(18,2)
as 
declare @Estado varchar(max)
declare @Codigo varchar(max)
declare @Id_personal int
set @Estado ='ACTIVO'
set @Codigo ='-'
if Exists (select Identificacion from Personal where Identificacion = @Identificacion)
raiserror('Ya existe un registro con esta identificacion', 16,1)
else
insert into Personal values(@Nombres, @Identificacion,@Pais,@Id_cargo,@SueldoPorHora,@Estado,@Codigo)
select @Id_personal = SCOPE_IDENTITY()
update Personal set Codigo = @Id_personal
GO
/****** Object:  StoredProcedure [dbo].[mostrarPersonal]    Script Date: 14/12/2025 17:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[mostrarPersonal]
@Desde int,
@Hasta int
as 
set nocount On;
select 
Id_personal,Nombres, Identificacion, SueldoPorHora, Cargo, Id_cargo, Estado, Codigo
from 
(select Id_personal, Nombres, Identificacion, Personal.SueldoPorHora, Cargo.Cargo, Personal.Id_cargo, Estado, Codigo, ROW_NUMBER() Over(Order
by Id_personal)'Numero_de_fila' from Personal
Inner join Cargo on Cargo.Id_cargo=Personal.Id_cargo) as Paginado 
where (Paginado.Numero_de_fila>=@Desde) and (Paginado.Numero_de_fila<=@Hasta)
GO
